@media screen and (max-width:1444px) {
    #header {
        height: 5rem;
    }


    .box_img_header img {
        width: 50%;
    }

    #navigation_header {
        gap: 0rem;
    }
     .button_header {
        font-size: 0.7em;
    } 
}



@media screen and (max-width:1280px) {

    .box_img_header {
        width: 45%;
    }

    #header {
        justify-content: space-between;
        height: 4rem;
    }

    .box_img_header a {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .button_header.home {
        display: block;
        padding: 0;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .btn_icon_header {
        display: block;
        background-color: transparent;
        color: black;
        border: none;
        width: 20%;
    }




    #navigation_header {
        position: absolute;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        top: 0;
        height: 100vh;
        width: 65vw;
        gap: 2rem;
        padding-top: 2rem;
        background-color: #58B1D3;
        animation-duration: 0.2s;
        margin-left: -100vw;
        z-index: 100;

    }

    .box_media {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 0;
        gap: 2rem;
        width: 100%;
    }

    .btn_media {
        color: white;
    }


    .tel {
        color: white;
    }

    .tel:hover {
        color: white;
    }
}

@media screen and (max-width:500px) {
    .button_header {
        font-size: 0.7em;
    }

    .box_img_header a h1 {
        font-size: 1.8em;
    }

}

@keyframes showSidebar {
    from {
        margin-left: -200vw;
    }

    top {
        margin-left: -12vw;
    }
}