@media screen and (max-width:1280px) {
    #myCarousel {
        width: 70%;
    }
}

@media screen and (max-width:1440px) {
.card-title{
    font-size: 1.3em;
}

}

@media screen and (max-width:1024px) {
    #myCarousel {
        width: 80%;
    }
}

@media screen and (max-width:768px) {
    #s_three_mobile{
        display: flex;
        height: auto;
        padding: 10% 0%;
    }
    #s_three {
    display: none;
    }

    #myCarousel {
        width: 90%;

    }

    .row {
        gap: 2rem;

    }

    .title_three {
        width: 90%;
    }

    .title_three h1 {
        font-size: 1.4em
    }
}